.table-row {
  border-bottom-color: rgba(0,0,0,.12);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 24px;
}
.table-header {
  height: 48px;
  color: rgba(0,0,0,.54);
  font-size: 12px;
  font-weight: 500;
}
.table-data {
  height: 300px;
  color: rgba(0,0,0,.87);
  font-size: 14px;
  font-family: Meiryo;
  overflow-y: scroll;
}
.report-value {
  color: #333;
  font-size: 12px;
  font-weight: 600;
}
.report-task {
  color: #666;
  font-size: 11px;
}
.report-message {
  color: #333;
  font-size: 11px;
}
.table-cell:hover{
  background-color: #EEE;
}
